h1 {
  font-weight: 700;
}

.container {
  display: flex;
  align-items: center;
  height: 90vh;
  color: rgb(245, 245, 245);
}

.movie-preview {
  display: flex;
  width: 90%;
  min-height: 200px;
  padding: 20px;
  margin: auto;
  background-color: rgb(24,84,94);
  align-items: center;
  justify-content: center;
}

.left {
  padding: 0 30px;
  width: 60%;
}

.right {
  width: 40%;
}

